*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

.activeness{
    left: 0;
    opacity: 1;
}

.span1{
    height: 12px;
    width: 12px;
    background-color: rgb(13, 132, 243);
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 10px;
}

.span2{
    height: 12px;
    width: 12px;
    background-color: rgb(13, 132, 243);
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
}
/* Header */

header{
    height: 120px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.header-content{
    display: flex;
    align-items: center;
    /* padding-top: 10px; */
}

.header-content img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.list-items{
    display: flex;
    gap: 30px;
}

.list-items li{
    list-style: none;
}

.list-items li a{
    color: black;
    /* font-size: 22px; */
    font-weight: bold;
    /* padding-bottom: 10px; */
    padding: 12px 20px;
    transition: all 2s ease-in-out;
}

.list-items li a:hover{
    color: white;
    background-color: skyblue;
    border-bottom: 4px solid skyblue;
}

.borders{
    color: skyblue;
    padding-bottom: 12px;
    border-bottom: 4px solid skyblue;
}

.header-contact img{
    height: 50px;
    width: 50px;
}

.menu-btn img{
    height: 50px;
    width: 50px;
}

.menu-btn{
    display: none;
} 

.position-img img{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color: transparent;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 100;
}

/* About */

.about{
    width: 100%;
    height: 100vh;
    background-image: url(imgs/about-img.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-content{
    padding: 120px 0;
    padding-left: 100px;
    position: relative;
    left: -100%;
    opacity: 0;
    transition: left 2s ease-in-out, opacity 2s ease-in-out;
}

section.activeness .about-content{
    left: 0;
    opacity: 1;
}
   
.about-content h3{
    color: whitesmoke;
    font-size: 22px;
}

.about-content h1{
    font-size: 76px;
    font-weight: bold;
    padding-top: 10px;
    color: whitesmoke;
}

.about-content p{
    padding-top: 10px;
    color: whitesmoke;
    font-size: 20px;
    font-weight: lighter;
}

.btn{
    background-color: skyblue;
    color: white;
    font-weight: bold;
    padding: 22px 30px;
    margin-top: 20px;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
}

/* Services */

.services{
    width: 100%;
    background-color: #f0f0f0;
    padding: 100px 0;
}

.services-logos{
    padding: 0 100px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-logo1{
    position: relative;
    left: -100%;
    opacity: 0;
    transition: left 3s ease-in-out, 3s opacity ease-in-out;
}

section.activeness .services-logo1{
    left: 0;
    opacity: 1;
}

.services-logo1 h4{
    background-color: white;
    color: black;
    display: inline-block;
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px 30px;
    position: relative;
}

.services-logo1 h2{
    padding-top: 20px;
    color: black;
    font-size: 40px;
    font-weight: 100;
}

.services-logo1 h1{
    font-weight: bold;
    font-size: 40px;
}

.courses{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.course{
    border: 1px solid lightgray;
    height: 300px;
    width: 350px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
    padding: 20px;
    transition: 2s all linear;
}

.course img{
    height: 50px;
    width: 50px;
}

.course h3{
    /* font-size: 20px; */
    font-weight: bold;
}

.course p{
    font-size: 14px;
    color: black;
    line-height: 1.5;
    /* text-align: center;  */
}


.course:nth-child(1):hover{
    background-image: url(imgs/lap.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-weight: bold;
}

.course:nth-child(2):hover{
    background-image: url(imgs/mobile-img.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-weight: bold;
}

.course:nth-child(3):hover{
    background-image: url(imgs/client1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-weight: bold;
}

.course:nth-child(4):hover{
    background-image: url(imgs/graphic-img.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-weight: bold;
}

.course:nth-child(5):hover{
    background-image: url(imgs/digital-img.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-weight: bold;
}


.services-years{
    width: 100%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.years{
    width: 90%;
    height: 200px;
    background-color: skyblue;
    /* background: linear-gradient(to right,skyblue 70%,slateblue 20% ) ; */
    margin: 50px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    outline: none;
}

.year h2{
    color: white;
    font-size: 42px;
    font-weight: bold;
}

.year li{
    padding-top: 10px;
    color: white;
    font-weight: bold;
}

.design{
    width: 100%;
    /* height: 800px; */
    background-color: #1e0841;
    padding: 100px 0;
    /* background-color: #3a2c50; */
    /* margin-top: -50px; */
}

.design-head{
    text-align: center;
    position: relative;
    left: -100%;
    opacity: 0;
    transition: left 3s ease-in-out, opacity 3s ease-in-out;
}

section.activeness .design-head{
    left: 0;
    opacity: 1;
}

.design-head h4{
    background-color: white;
    color: grey;
    display: inline-block;
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px 30px;
    position: relative;
}

.design-head h1{
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
}

.design-head h2{
    color: white;
    font-size: 30px;
    font-weight: 200;
    padding-top: 10px;
}

.design-parts{
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.design-parts .part{
    height: 380px;
    width: 250px;
    background-color: #2d0c631e;
    border: 1px solid rgba(255, 255, 255, 0.849);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 25px;
    position: relative;
}

.part h1{
    color: white;
    position: absolute;
    top: -10px;
    left: -5px;
    opacity: 0.1;
    font-size: 100px;
}

.part h3{
    color: white;
    font-size: 22px;
}

.part p{
    color: grey;
    line-height: 1.8;
}

.design-button{
    display: flex;
    gap: 5px;
}

.design-button a{
    color: skyblue;
    font-size: 14px;
    font-weight: bold;
}
.design-img{
    height: 100px;
    width: 100px;
    background-color: lightskyblue;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top-left-radius: 80%;
}
.design-img img{
    width: 40px;
    height: 40px;
    position:absolute;
    bottom: 20px;
    right: 20px;
    /* border-top-left-radius: 5px solid yellow; */
}


.part:hover{
    background-color: white;
    h1{
        color: darkgrey;
    }
    h3{
        color: black;
    }
    p{
        color: black;
    }
}

.clients{
    margin: 100px 0;
    display: flex;
    gap: 30px;
    justify-content: center;
    /* grid-template-columns: repeat(2,1fr); */
}

.client{
    width: 550px;
    height: 300px;
    padding: 20px;
}

.one{
    background-image: url(imgs/client1.jpeg);
    background-position: center;
    background-size: cover;    
}

.two{
    background-image: url(imgs/client2.jpeg);
    background-position: center;
    background-size: cover;    
}

.client h2{
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 0 20px;
    padding-top: 30px;
}

.client h3{
    color: white;
    font-weight: bold;
    font-size: 22px;
    padding: 0 20px;
    padding-top: 20px;
}

.client p{
    color: white;
    padding: 0 20px;
    padding-top: 10px;
    font-size: 15px;
    opacity: 1;
    line-height: 1.5;
}

.partners{
    display: flex;
    margin: 50px 0;
    width: 100%;
    /* height: 100vh; */
}

.partner1{
    width: 50%;
    /* margin-left: 100px; */
    padding: 20px 100px;
}

.partner1 h3{
    color:black;
    display: inline-block;
    background-color: white;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 5px 30px;
    margin-top: 10px;
}


.partner1 h1{
    color: black;
    padding-top: 20px;
    font-size: 32px;
}

.partner1 h2{
    color: black;
    letter-spacing: 1px;
    padding-top: 10px;
    font-size: 32px;
    font-weight: 100;
}

.partner1 p{
    padding-top: 15px;
    line-height: 1.8;
    color: grey;
}

.partner2 img{
    width: 600px;
    height: 500px;
    margin-top: 30px;
}

.service-last{
    width: 100%;
    background-color: #f0f0f0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 0;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}


.last{
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    padding-left: 10px;
}

.last img{
    height: 50px;
    width: 50px;
}

.last h3{
    font-size: 18px;
    padding-top: 5px;
    /* border-bottom: 1px solid lightgray; */
    padding-bottom: 10px;
}

.last .line{
    height: 2px;
    width: 100%;
    background-color: grey;
    opacity: 0.3;
    transition: 2s background-color height ease-in-out;
}

.last p{
    padding-top: 10px;
    font-size: 16px;
    line-height: 1.8;
    color: grey;
}

.last:hover{
    .line{
        background-color: blueviolet;
        height: 3px;
    }
}

/* Projects */

.projects{
    width: 100%;
    margin: 50px 0;
}

.project-deliver{
    width: 100%;
    height: 100vh;
    background-image: url(imgs/lap.jpeg);  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
}

.deliver-head{
    padding-top: 100px;
    text-align: center;
}

.deliver-head h3{
    color: grey;
    background-color: white;
    display: inline-block;
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px 30px;
    font-size: 18px;
    position: relative;
    left: -100%;
    opacity: 0;
    transition: left 2s ease-in-out, opacity 2s ease-in-out;
}

section.activeness .deliver-head h3{
    opacity: 1;
    left: 0;
}

.deliver-head h2{
    padding-top: 30px;
    color: white;
    font-size: 42px;
    font-weight: 200;
}

.deliver-head h1{
    color: white;
    font-size: 42px;
    font-weight: bold;
    padding-top: 10px;
}

.deliver-items{
    padding: 80px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.deliver-items .item{
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 1px solid grey;
    cursor: pointer;
}

.item img{
    height: 50px;
    width: 50px;
    color: white;
}

.item h3{
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.item:hover{
    background-color: skyblue;
}

.project-clients{
    /* height: 250px; */
    width: 100%;
    background-color: lightgray;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding: 50px 0;
}

.client1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -300px;
}

.client1 h3{
    color:grey;
    display: inline-block;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px 30px;
    margin-top: 10px;
}

.client1 h2{
    padding-top: 30px;
    padding-left: 50px;
    color: black;
    font-weight: bold;
    font-size: 42px;
}

.client2 p{
    padding: 0 50px;
    color: grey;
    font-size: 17px;
    line-height: 1.8;
    font-weight: bold;
}

.project-names{
    width: 100%;
    /* height: 270vh; */
    margin: 50px 0;
    padding: 50px 0;
    background-color: lightgray;
}

.name1{
    background-color: white;
    margin: 0px 40px;
    border: 1px solid white;
    margin-bottom: 30px;
}

.project-logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    padding-top: 30px;
    padding-left: 20px;
}

.project-logo h5{
    color: orange;
    font-weight: bold;
}

.project-column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-column h3{
    font-weight: bold;
}

.project-column h6{
    color: grey;
    font-size: 18px;
}

.name1 p{
    padding: 20px 25px;
    line-height: 1.8;
    font-size: 17px;
    color: black;
}


.project-designs{
    width: 100%;
    /* height: 50vh; */
    margin: 50px 0;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    background-color: lightgray;
    border-radius: 20px;
}

.project-design{
    width: 350px;
    height: 200px;
    border: 1px solid grey;
}

.design-color{
    height: 100px;
    width: 100%;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;  
    transition: 1s all ease-in;  
    position: relative;
}

.design-color h2{
    color: white;
    padding: 40px;
}
.design-color:hover{
    margin-top: -10px;
}

.alter-img{
    height: 80px;
    width: 80px;
    background-color: blue;    
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 80%;
}

.design-color img{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.color3{
    background: skyblue;
}
.design-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    position: relative;
    width: 100%;
    height: 100px;
    background-color: white;
}

.design-content img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 20px;
    color: white;
}

.design-content h5{
    color: black;
    font-weight: bold;
    font-size: 18px;
    padding: 20px;
}

.design-content h3{
    font-size: 70px;
    color: grey;
    position: absolute;
    right: 0;
    bottom: -20px;
    opacity: 0.1;
}


/* Footer */

footer{
    width: 100%;
    height: 60vh;
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    /* gap: 25px; */
    padding-top: 30px;
}

footer h2{
    color: orangered;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.footer-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 24%;
}

.logo1 img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.logo2{
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo2 img{
    height: 40px;
    width: 40px
}

.logo2 p{
    font-size: 20px;
}
    
.footer-links{
    width: 24%;
}

.footer-links ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.footer-links ul li{
    list-style: none;
}

.footer-links ul li a{
    color: black;
    font-size: 20px;
}
.footer-hours{
    width: 24%;
}

.footer-hours ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.footer-hours ul li{
    list-style: none;
    font-size: 20px;
    color: black;
}

.footer-location{
    width: 24%;
}

.footer-location h2{
    text-align: start;
}

.footer-location img{
    height: 20px;
    width: 20px;
}

.location{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 20px 0;
}

.location p{
    color: black;
    font-size: 20px;
}

/* .phone{
    display: flex;
    gap: 10px;
    padding: 20px 0;
}

.phone p{
    color: black;
    font-size: 20px;
} */

.mail{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
}

.mail a{
    color: black;
    font-size: 20px;
}

/* Responsive Mobile Design */

@media screen and (max-width: 600px){
    header{
        height: 120px;
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        position: sticky;
        top: 0px;
        z-index: 1;
    }
    
    .header-content{
        display: flex;
        align-items: center;
        /* padding-top: 10px; */
    }
    
    .header-content img{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        margin-left: 20px;
    }
    
    .header-contact{
        display: none;
    }
    
    .menu-btn{
        display: block;
    }
    
    .list-items{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: black;
        width: 100%;
        height: 200px;
        /* padding-top: 120px; */
        transition: all 2s ease-in-out;
        display: none;
        position: absolute;
        top: 100%;
        left: 0%;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        /* margin-top: -999px; */
    }
    .list-items li{
        border-bottom : 1px solid whitesmoke;
    }
    .list-items li:last-child{
        border-bottom: none;
    }
    .list-items li a{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color: white;
        transition: 2s all ease-in-out;
    }
    .list-items.active{
        display: block;
        /* margin-top: 0; */
    }

    .list-items li a:hover{
        background-color: orangered;
        color: white;
    }

    .position-img img{
        height: 50px;
        width: 50px;
        border-radius: 10px;
        background-color: transparent;
        position: fixed;
        top: 100%;
        right: 50px;
        z-index: 100;
        display: none;
    }
    /* About */

    .about{
        width: 100%;
        /* height: 50vh; */
        background-image: url(imgs/about-img.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 100px 0;
    }

    .about-content{
        padding-left: 50px;
        position: relative;
        left: -100%;
        opacity: 0;
        transition: left 2s ease-in-out, opacity 2s ease-in-out;
    }
    
    section.activeness .about-content{
        left: 0;
        opacity: 1;
    }
       
    .about-content h3{
        color: whitesmoke;
        font-size: 22px;
    }
    
    .about-content h1{
        font-size: 24px;
        font-weight: bold;
        padding-top: 10px;
        color: whitesmoke;
    }
    
    .about-content p{
        padding-top: 10px;
        color: whitesmoke;
        font-size: 16px;
        font-weight: lighter;
    }
    
    .btn{
        background-color: skyblue;
        color: white;
        font-weight: bold;
        padding: 12px 20px;
        font-size: 18px;
        margin-top: 20px;
        border: none;
        font-weight: bold;
        text-transform: uppercase;
        /* border-radius: 10px; */
    }

    /* Services */

    .services{
        width: 100%;
        background-color: #f0f0f0;
        padding: 100px 0;
    }
    
    .services-logos{
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        /* text-align: center; */
        justify-content: center;
        /* align-items: center; */
    }
    
    .services-logo1{
        text-align: center;
        position: relative;
        left: -100%;
        opacity: 0;
        transition: left 3s ease-in-out, 3s opacity ease-in-out;
    }
    
    section.activeness .services-logo1{
        left: 0;
        opacity: 1;
    }
    
    .services-logo1 h4{
        background-color: white;
        color: black;
        display: inline-block;
        border: 1px solid white;
        border-radius: 20px;
        padding: 5px 30px;
        position: relative;
    }
    
    .services-logo1 h2{
        padding-top: 20px;
        color: black;
        font-size: 20px;
        font-weight: 100;
    }
    
    .services-logo1 h1{
        padding-top: 20px;
        font-weight: bold;
        font-size: 22px;
    }

    .courses{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
    
    .course{
        border: 1px solid lightgray;
        height: 300px;
        width: 350px;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        gap: 20px;
        padding: 20px;
        transition: 2s all linear;
    }
    
    .course img{
        height: 50px;
        width: 50px;
    }
    
    .course h3{
        /* font-size: 20px; */
        font-weight: bold;
    }
    
    .course p{
        font-size: 14px;
        color: black;
        line-height: 1.5;
        /* text-align: center;  */
    }
    
    
    .course:nth-child(1):hover{
        background-image: url(imgs/lap.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        font-weight: bold;
    }
    
    .course:nth-child(2):hover{
        background-image: url(imgs/mobile-img.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        font-weight: bold;
    }
    
    .course:nth-child(3):hover{
        background-image: url(imgs/client1.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        font-weight: bold;
    }
    
    .course:nth-child(4):hover{
        background-image: url(imgs/graphic-img.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        font-weight: bold;
    }
    
    .course:nth-child(5):hover{
        background-image: url(imgs/digital-img.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        font-weight: bold;
    }
    
    .services-years{
        width: 100%;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .years{
        width: 90%;
        height: 200px;
        background-color: skyblue;
        /* background: linear-gradient(to right,skyblue 70%,slateblue 20% ) ; */
        margin: 50px 0px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        /* padding: 20px 0; */
        border: none;
        outline: none;
    }
    
    .year h2{
        color: white;
        font-size: 24px;
        font-weight: bold;
    }
    
    .year li{
        padding-top: 10px;
        color: white;
        font-weight: bold;
        font-size: 14px;
    }

    .design{
        width: 100%;
        /* height: 800px; */
        background-color: #1e0841;
        padding: 100px 0;
        /* background-color: #3a2c50; */
        /* margin-top: -50px; */
    }
    
    .design-head{
        text-align: center;
        position: relative;
        left: -100%;
        opacity: 0;
        transition: left 3s ease-in-out, opacity 3s ease-in-out;
    }
    
    section.activeness .design-head{
        left: 0;
        opacity: 1;
    }
    
    .design-head h4{
        background-color: white;
        color: grey;
        display: inline-block;
        border: 1px solid white;
        border-radius: 20px;
        font-size: bold;
        padding: 5px 30px;
        position: relative;
    }
    
    .design-head h1{
        color: white;
        font-size: 26px;
        font-weight: bold;
        padding-top: 20px;
    }
    
    .design-head h2{
        color: white;
        font-size: 24px;
        font-weight: 200;
        padding-top: 10px;
    }
    
    .part:hover{
        background-color: white;
        h1{
            color: darkgrey;
        }
        h3{
            color: black;
        }
        p{
            color: black;
        }
    }
    
    .clients{
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        /* background-color: red; */
        margin: 50px 0;
        /* justify-content: center; */
        /* grid-template-columns: repeat(2,1fr); */
    }
    
    .client h2{
        color: white;
        font-weight: bold;
        padding: 0 20px;
        padding-top: 30px;
    }
    
    .client h3{
        color: white;
        font-weight: bold;
        font-size: 22px;
        padding: 0 20px;
        padding-top: 20px;
    }
    
    .client p{
        color: white;
        padding: 0 20px;
        padding-top: 10px;
        font-size: 15px;
        line-height: 1.5;
    }
    
    .partners{
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
        width: 100%;
        /* height: 150vh; */
    }
    
    .partner1{
        display: flex;
        flex-direction: column;  
        width: 100%;      
    }
    
    .partner1 h3{
        color:black;
        display: inline-block;
        background-color: white;
        border: 1px solid grey;
        border-radius: 20px;
        padding: 5px 30px;
        font-size: 18px;
        margin-top: 10px;
        text-align: center;
    }
    
    
    
    .partner1 h1{
        color: black;
        padding-top: 20px;
        font-size: 26px;
    }
    
    .partner1 h2{
        color: black;
        letter-spacing: 1px;
        padding-top: 10px;
        font-size: 20px;
        font-weight: 200;
    }
    
    .partner1 p{
        padding-top: 15px;
        line-height: 1.8;
        color: grey;
        font-size: 16px;
    }

    .partner2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .partner2 img{
        width: 300px;
        height: 300px;
        margin-top: 30px;
    }
    
    .service-last{
        width: 100%;
        /* height: 120vh; */
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 20px 0;
    }
    
    
    .last{
        height: 300px;
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
        padding-left: 10px;
    }
    
    .last img{
        height: 50px;
        width: 50px;
    }
    
    .last h3{
        font-size: 22px;
        padding-top: 5px;
        /* border-bottom: 1px solid lightgray; */
        padding-bottom: 10px;
    }
    
    .last .line{
        height: 2px;
        width: 100%;
        background-color: grey;
        opacity: 0.3;
        transition: 2s background-color height ease-in-out;
    }
    
    .last p{
        padding-top: 10px;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.8;
        color: grey;
    }
    
    .last:hover{
        .line{
            background-color: blueviolet;
            height: 3px;
        }
    }

    /* Projects */

    .projects{
        width: 100%;
        margin: 50px 0;
        padding: 50px 0;
    }
    
    .project-deliver{
        width: 100%;
        /* height: 70vh; */
        background-image: url(imgs/lap.jpeg);  
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;  
    }
    
    .deliver-head{
        /* padding-top: 150px; */
        text-align: center;
    }
        
    .deliver-head h3{
        color: grey;
        background-color: white;
        display: inline-block;
        border: 1px solid white;
        border-radius: 20px;
        padding: 5px 30px;
        font-size: 22px;
        position: relative;
        left: -100%;
        opacity: 0;
        transition: left 2s ease-in-out, opacity 2s ease-in-out;
    }
    
    section.activeness .deliver-head h3{
        opacity: 1;
        left: 0;
    }
    
    .deliver-head h2{
        padding-top: 20px;
        color: white;
        font-size: 20px;
        font-weight: 200;
    }
    
    .deliver-head h1{
        color: white;
        font-size: 22px;
        font-weight: bold;
        padding-top: 20px;
    }
    
    .deliver-items{
        /* padding: 80px 0; */
        display: flex;
        flex-wrap: wrap;
        /* gap: 50px; */
        justify-content: center;
    }
    
    .deliver-items .item{
        height: 120px;
        width: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        border: 1px solid grey;
        cursor: pointer;
    }
    
    .item img{
        height: 50px;
        width: 50px;
        color: white;
    }
    
    .item h3{
        color: white;
        font-size: 14px;
        font-weight: bold;
    }
    
    .item:hover{
        background-color: skyblue;
    }

    .project-clients{
        /* height: 320px; */
        width: 100%;
        background-color: lightgrey;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 50px 0;
        padding: 50px 0;
    }
    
    .client1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* margin-left: -300px; */
    }
    
    .client1 h3{
        color:grey;
        display: inline-block;
        background-color: white;
        border: 1px solid white;
        border-radius: 20px;
        font-size: 18px;
        padding: 5px 30px;
        text-align: center;
        margin-top: 30px;
        margin-left: 150px;
    }
    
    
    .client1 h2{
        padding-top: 30px;
        text-align: center;
        color: black;
        font-weight: bold;
        font-size: 24px;
    }
    
    .client2 p{
        padding: 15px 50px;
        color: grey;
        line-height: 1.8;
        font-size: 16px;
        font-weight: bold;
    }
    
    .project-names{
        width: 100%;
        /* height: 270vh; */
        background-color: lightgray;
    }
    
    .name1{
        background-color: white;
        margin: 0px 40px;
        border: 1px solid white;
        margin-bottom: 30px;
    }
    
    .project-logo{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 30px;
        padding-top: 30px;
        padding-left: 20px;
    }
    
    .project-logo h5{
        color: orange;
        font-weight: bold;
    }
    
    .project-column{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .project-column h3{
        font-weight: bold;
    }
    
    .project-column h6{
        color: grey;
        font-size: 18px;
    }
    
    .name1 p{
        padding: 20px 25px;
        line-height: 1.8;
        font-size: 17px;
        color: black;
    }
    
    
    .project-designs{
        width: 100%;
        /* height: 130vh; */
        padding: 50px 0;
        display: flex;
        flex-wrap: wrap;
        /* justify-content: center; */
        /* gap: 30px; */
        background-color: lightgray;
    }
    
    .project-design{
        width: 350px;
        height: 200px;
        border: 1px solid grey;
    }
    
    .design-color{
        height: 100px;
        width: 100%;
        background-color: blueviolet;
        display: flex;
        justify-content: center;
        align-items: center;  
        transition: 1s all ease-in;  
        position: relative;
    }
    
    .design-color h2{
        color: white;
        padding: 20px;
        font-size: 24px;
    }
    .design-color:hover{
        margin-top: -10px;
    }
    
    .alter-img{
        height: 80px;
        width: 80px;
        background-color: blue;    
        position: absolute;
        top: 0;
        right: 0;
        border-bottom-left-radius: 80%;
    }
    
    .design-color img{
        height: 30px;
        width: 30px;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    
    .color3{
        background: skyblue;
    }
    .design-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
        position: relative;
        width: 100%;
        height: 100px;
        background-color: white;
    }
    
    .design-content img{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin-left: 20px;
        color: white;
    }
    
    .design-content h5{
        color: black;
        font-weight: bold;
        font-size: 18px;
        padding: 20px;
    }
    
    .design-content h3{
        font-size: 70px;
        color: grey;
        position: absolute;
        right: 0;
        bottom: -20px;
        opacity: 0.1;
    }
    /* Footer */

    footer{
        width: 100%;
        /* height: 80vh; */
        display: flex;
        flex-wrap: wrap;
        /* gap: 20px; */
        margin-top: 20px;
        padding: 20px 0;
    }

    footer h2{
        font-size: 24px;
    }

    .footer-logo{
        width: 50%;
    }

    .logo2 img{
        height: 20px;
        width: 20px;
    }
    .logo2 p{
        font-size: 14px;
        font-weight: bold;
    }
    .footer-links{
        width: 50%;
    }
    .footer-links ul li a{
        font-size: 14px;
        font-weight: bold;
    }

    .footer-hours{
        width: 50%;
    }
    
    .footer-hours ul li{
        font-size: 14px;
        font-weight: bold;
    }
    .footer-location{
        width: 50%;
    }

    .footer-location h2{
        text-align: center;
    }
    .footer-location p{
        font-size: 14px;
        font-weight: bold;
    }
    .location{
        gap: 5px;
    }

    .mail{
        gap: 5px;
        align-items: center;
    }

    .mail a{
        font-size: 14px;
        font-weight: bold;
    }
}

@media screen and (min-width: 601px) and (max-width:1024px){
    header{
        height: 120px;
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        position: sticky;
        top: 0px;
        z-index: 1;
    }
    
    .header-content{
        display: flex;
        align-items: center;
        /* padding-top: 10px; */
    }
    
    .header-content img{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        margin-left: 20px;
    }
    
    .header-contact{
        display: none;
    }
    
    .menu-btn{
        display: block;
    }
    
    .list-items{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: black;
        width: 100%;
        height: 200px;
        /* padding-top: 120px; */
        transition: all 2s ease-in-out;
        display: none;
        position: absolute;
        top: 100%;
        left: 0%;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        /* margin-top: -999px; */
    }
    .list-items li{
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom : 1px solid whitesmoke;
    }
    .list-items li:last-child{
        border-bottom: none;
    }
    .list-items li a{
        /* width: 100%; */
        font-size: 20px;
        color: white;
    }
    .list-items.active{
        display: block;
        /* margin-top: 0; */
    }

    .list-items li a:hover{
        background-color: skyblue;
        color: white;
        /* width: 100%; */
    }

    .position-img img{
        display: none;
    }
    /* About */

    .about{
        width: 100%;
        /* height: 70vh; */
        background-image: url(imgs/about-img.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 100px 0;
    }
    
    .about-content{
        padding-left: 50px;
        position: relative;
        left: -100%;
        opacity: 0;
        transition: left 2s ease-in-out, opacity 2s ease-in-out;
    }
    
    section.activeness .about-content{
        left: 0;
        opacity: 1;
    }
       
    .about-content h3{
        color: whitesmoke;
        font-size: 26px;
    }
    
    .about-content h1{
        font-size: 40px;
        font-weight: bold;
        padding-top: 20px;
        color: whitesmoke;
    }
    
    .about-content p{
        padding-top: 20px;
        color: whitesmoke;
        font-size: 22px;
        font-weight: lighter;
    }
    
    .btn{
        background-color: skyblue;
        color: white;
        font-weight: bold;
        padding: 16px 24px;
        font-size: 18px;
        margin-top: 20px;
        border: none;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 10px;
    }
    /* Services */

    .services{
        width: 100%;
        background-color: #f0f0f0;
        padding: 100px 0;
    }
    
    .services-logos{
        padding: 0 100px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .services-logo1{
        text-align: center;
        position: relative;
        left: -100%;
        opacity: 0;
        transition: left 3s ease-in-out, 3s opacity ease-in-out;
    }
    
    section.activeness .services-logo1{
        left: 0;
        opacity: 1;
    }
    
    .services-logo1 h4{
        background-color: white;
        color: black;
        display: inline-block;
        border: 1px solid white;
        border-radius: 20px;
        padding: 5px 30px;
        position: relative;
    }
    
    .services-logo1 h2{
        padding-top: 20px;
        color: black;
        font-size: 40px;
        font-weight: 100;
    }
    
    .services-logo1 h1{
        font-weight: bold;
        font-size: 40px;
    }
    
    .courses{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
    
    .course{
        border: 1px solid lightgray;
        height: 300px;
        width: 350px;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        gap: 20px;
        padding: 20px;
        transition: 2s all linear;
    }
    
    .course img{
        height: 50px;
        width: 50px;
    }
    
    .course h3{
        /* font-size: 20px; */
        font-weight: bold;
    }
    
    .course p{
        font-size: 14px;
        color: black;
        line-height: 1.5;
        /* text-align: center;  */
    }
    
    
    .course:nth-child(1):hover{
        background-image: url(imgs/lap.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }
    
    .course:nth-child(2):hover{
        background-image: url(imgs/mobile-img.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }
    
    .course:nth-child(3):hover{
        background-image: url(imgs/client1.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }
    
    .course:nth-child(4):hover{
        background-image: url(imgs/graphic-img.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }
    
    .course:nth-child(5):hover{
        background-image: url(imgs/digital-img.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }
    
    
    .services-years{
        width: 100%;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .years{
        width: 90%;
        height: 200px;
        background-color: skyblue;
        /* background: linear-gradient(to right,skyblue 70%,slateblue 20% ) ; */
        margin: 50px 0px;
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-evenly; */
        align-items: center;
        border: none;
        outline: none;
    }
    
    .year h2{
        color: white;
        font-size: 42px;
        font-weight: bold;
    }
    
    .year li{
        padding-top: 10px;
        color: white;
        font-size: 18px;
        font-weight: bold;
    }
    
    .design{
        width: 100%;
        /* height: 250vh; */
        background-color: #1e0841;
        padding-bottom: 100px;
        /* background-color: #3a2c50; */
        /* margin-top: -50px; */
    }
    
    .design-head{
        /* padding-top: 100px; */
        padding: 20px 0;
        text-align: center;
        position: relative;
        left: -100%;
        opacity: 0; 
        transition: left 3s ease-in-out, opacity 3s ease-in-out;
    }
    
    section.activeness .design-head{
        left: 0;
        opacity: 1;
    }
    
    .design-head h4{
        background-color: white;
        color: grey;
        display: inline-block;
        border: 1px solid white;
        border-radius: 20px;
        padding: 5px 30px;
        position: relative;
        font-size: 18px;
    }
    
    .design-head h1{
        color: white;
        font-size: 22px;
        font-weight: bold;
        padding-top: 30px;
    }
    
    .design-head h2{
        color: white;
        font-size: 26px;
        font-weight: 200;
        padding-top: 20px;
    }
    
    .clients{
        margin: 100px 0;
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        /* justify-content: center; */
        /* grid-template-columns: repeat(2,1fr); */
    }
    
    .client h2{
        color: white;
        font-weight: bold;
        padding: 0 20px;
        padding-top: 30px;
    }
    
    .client h3{
        color: white;
        font-weight: bold;
        font-size: 22px;
        padding: 0 20px;
        padding-top: 20px;
    }
    
    .client p{
        color: white;
        padding: 0 20px;
        padding-top: 10px;
        font-size: 15px;
        line-height: 1.5;
        opacity: 1.2;
    }
    
    .partners{
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: column;
        align-items: center;
        margin-top: 50px 0; 
        width: 100%;
        /* height: 150vh; */
    }
    
    .partner1{
        display: flex;
        flex-direction: column;  
        width: 100%;      
    }
    
    .partner1 h3{
        color:black;
        display: inline-block;
        background-color: white;
        border: 1px solid grey;
        border-radius: 20px;
        text-align: center;
        /* padding: 5px 30px; */
        font-size: 18px;
        margin-top: 10px;
    }
  
    
    .partner1 h1{
        color: black;
        padding-top: 20px;
        font-size: 30px;
    }
    
    .partner1 h2{
        color: black;
        letter-spacing: 1px;
        padding-top: 10px;
        font-size: 24px;
        font-weight: 100;
    }
    
    .partner1 p{
        padding-top: 17px;
        line-height: 1.8;
        font-size: 16px;
        font-weight: bold;
        color: grey;
    }
    
    .partner2 img{
        width: 400px;
        height: 400px;
        margin-top: 30px;
    }
    
    .service-last{
        width: 100%;
        /* height: 120vh; */
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: column; */
        align-items: center;
        gap: 30px;
        /* padding-top: 20px; */
    }
    
    
    .last{
        height: 300px;
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
        /* padding-left: 10px; */
    }
    
    .last img{
        height: 50px;
        width: 50px;
    }
    
    .last h3{
        font-size: 18px;
        padding-top: 5px;
        /* border-bottom: 1px solid lightgray; */
        padding-bottom: 10px;
    }
    
    .last .line{
        height: 1px;
        width: 100%;
        background-color: grey;
        opacity: 0.3;
        transition: 2s background-color height ease-in-out;
    }
    
    .last p{
        padding-top: 10px;
        font-size: 16px;
        line-height: 1.8;
        color: grey;
    }
    
    .last:hover{
        .line{
            background-color: blueviolet;
            height: 3px;
        }
    } 
    /* Projects */

    .projects{
        width: 100%;
        margin: 50px 0;
    }
    
    .project-deliver{
        width: 100%;
        /* height: 70vh; */
        background-image: url(imgs/lap.jpeg);  
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;  
        padding: 50px 0;
    }
    
    .deliver-head{
        /* padding-top: 150px; */
        text-align: center;
    }
        
    .deliver-head h3{
        color: grey;
        background-color: white;
        display: inline-block;
        border: 1px solid white;
        border-radius: 20px;
        padding: 5px 30px;
        font-size: 18px;
        position: relative;
        left: -100%;
        opacity: 0;
        transition: left 2s ease-in-out, opacity 2s ease-in-out;
    }
    
    section.activeness .deliver-head h3{
        opacity: 1;
        left: 0;
    }
    
    .deliver-head h2{
        padding-top: 30px;
        color: white;
        font-size: 24px;
        font-weight: 200;
    }
    
    .deliver-head h1{
        color: white;
        font-size: 30px;
        font-weight: bold;
        padding-top: 10px;
    }
    
    .deliver-items{
        /* padding: 80px 0; */
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }
    
    .deliver-items .item{
        height: 120px;
        width: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        border: 1px solid grey;
        cursor: pointer;
    }
    
    .item img{
        height: 50px;
        width: 50px;
        color: white;
    }
    
    .item h3{
        color: white;
        font-size: 14px;
        font-weight: bold;
    }
    
    .item:hover{
        background-color: skyblue;
    }

    .project-clients{
        height: 320px;
        width: 100%;
        background-color: lightgrey;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 50px 0;
    }
    
    .client1{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* margin-left: -300px; */
    }
    
    .client1 h3{
        color:grey;
        display: inline-block;
        background-color: white;
        border: 1px solid white;
        border-radius: 20px;
        font-size: 18px;
        padding: 5px 30px;
        text-align: center;
        margin-top: 30px;
        margin-left: 100px;
    }
    
    .client1 h2{
        padding-top: 30px;
        text-align: center;
        color: black;
        font-weight: bold;
        font-size: 24px;
    }
    
    .client2 p{
        font-size: 18px;
        padding: 15px 50px;
        color: grey;
        line-height: 2;
    }
    
    .project-names{
        width: 100%;
        /* height: 270vh; */
        background-color: lightgray;
    }
    
    .name1{
        background-color: white;
        margin: 0px 40px;
        border: 1px solid white;
        margin-bottom: 30px;
    }
    
    .project-logo{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 30px;
        padding-top: 30px;
        padding-left: 20px;
    }
    
    .project-logo h5{
        color: orange;
        font-weight: bold;
    }
    
    .project-column{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .project-column h3{
        font-weight: bold;
    }
    
    .project-column h6{
        color: grey;
        font-size: 18px;
    }
    
    .name1 p{
        padding: 20px 25px;
        line-height: 1.8;
        font-size: 17px;
        color: black;
    }
    
    
    .project-designs{
        width: 100%;
        /* height: 100vh; */
        padding: 50px 0;
        display: flex;
        flex-wrap: wrap;
        /* justify-content: center; */
        /* gap: 30px; */
        background-color: lightgray;
    }
    
    .project-design{
        width: 350px;
        height: 200px;
        border: 1px solid grey;
    }
    
    .design-color{
        height: 100px;
        width: 100%;
        background-color: blueviolet;
        display: flex;
        justify-content: center;
        align-items: center;  
        transition: 1s all ease-in;  
        position: relative;
    }
    
    .design-color h2{
        color: white;
        padding: 20px;
    }
    .design-color:hover{
        margin-top: -10px;
    }
    
    .alter-img{
        height: 80px;
        width: 80px;
        background-color: blue;    
        position: absolute;
        top: 0;
        right: 0;
        border-bottom-left-radius: 80%;
    }
    
    .design-color img{
        height: 30px;
        width: 30px;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    
    .color3{
        background: skyblue;
    }
    .design-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
        position: relative;
        width: 100%;
        height: 100px;
        background-color: white;
    }
    
    .design-content img{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin-left: 20px;
        color: white;
    }
    
    .design-content h5{
        color: black;
        font-weight: bold;
        font-size: 22px;
        padding: 20px;
    }
    
    .design-content h3{
        font-size: 70px;
        color: grey;
        position: absolute;
        right: 0;
        bottom: -20px;
        opacity: 0.1;
    }  
    /* Footer */

    footer{
        width: 100%;
        /* height: 80vh; */
        display: flex;
        flex-wrap: wrap;
        /* gap: 20px; */
        margin-top: 20px;
    }

    footer h2{
        font-size: 28px;
    }

    .footer-logo{
        width: 40%;
    }

    .logo2 img{
        height: 20px;
        width: 20px;
    }
    .logo2 p{
        font-size: 20px;
        font-weight: bold;
    }
    .footer-links{
        width: 40%;
    }
    .footer-links ul li a{
        font-size: 20px;
        font-weight: bold;
    }

    .footer-hours{
        width: 40%;
    }
    
    .footer-hours ul li{
        font-size: 20px;
        font-weight: bold;
    }
    .footer-location{
        width: 40%;
    }

    .footer-location h2{
        text-align: center;
    }
    .footer-location p{
        font-size: 20px;
        font-weight: bold;
    }
    .location{
        gap: 5px;
    }

    .mail{
        gap: 5px;
        align-items: center;
    }

    .mail a{
        font-size: 20px;
        font-weight: bold;
    }
}